.box {
  float: left;
  width: 20px;
  height: 20px;
  margin: 3px 10px;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 100%;
}

.red {
  background: #FF4C46;
}

.green {
  background: #74EB69;
}