* {
    margin: 0;
    padding: 0;
}

.title {
    font-weight: 700;
    margin-top: 20px;
}

.navbar-icon {
    position: absolute;
    margin: 0 40px;
    width: 100px;
    height: auto;
}

.progress-span {
    width: 40%;
}

.home-icon {
    height: 50px;
    width: auto;
}
ul {
    text-align: left;
    margin-right: 5px;
}
